/*-------Container-------*/
.unieap .tabContainer {
	overflow:hidden;
	position:relative;
}

.unieap .tabContainer-nest {
	width:100%;
	height:100%;
	overflow:hidden;
	zoom:1;
}

.unieap .tab-scrolling-container {
	position:relative;
	overflow:hidden;
}

.unieap .tab-scrolling{
	position:absolute;
	_height:100%;
}

.unieap .navigatorWrapper {
	border:0px;
	margin: 0;
	padding: 0;
	z-index:2;
	position:relative;
}

.tabSpacer {
}

.unieap .tab {
	border:1px solid #ccc;
	line-height:normal;
	margin-right:4px;
	padding:0px;
	cursor:pointer;
	z-index:3;
	white-space:nowrap;
	display:block;
	text-decoration: none;
}

.unieap .navigator{
	margin-right:0px;
	border:none;
}

.unieap .tabChecked {
	background-image:none;
}

.unieap .tab .unieapClosable .closeImage {
	display: inline-block;
	width: 12px;
	height: 12px;
}

/*Tab a标签*/


.unieap .tab-scrolling-container .tabward{
	position: absolute;
	z-index:100;
	cursor:pointer;
}
.unieap .tab-scrolling-container .eapMenu{
	background-repeat:no-repeat;
	background-position:center;
	/*TODO*/
}

/*------- top -------*/
.unieap .navigator-scrolling-containerTop {
	height:23px;
	_height:24px;
}

.unieap .tabContainerTop .tabPaneWrapperTop{
	border-top:none;
}

.unieap .navigatorContainerTop-tabs .tab{
	height:21px;
}

.unieap .navigatorContainerTop-tabs .tabChecked {
	border-bottom-color:white;
}

.unieap a:hover.u-a-tabTop{
	border-bottom-color:white;
}


.unieap .tabContainerTop .tabSpacerTop,
.unieap .tabContainerBottom .tabSpacerBottom {
	height:1px;
}

.unieap .navigatorContainerTop-tabs .tab,
.unieap .tabContainerBottom-tabs .tab {
	display:inline-block;
	vertical-align:middle;
}

.unieap .tabContainerBottom-tabs .tabInnerDiv,
.unieap .navigatorContainerTop-tabs .tabInnerDiv {
	line-height:20px;
	padding: 0px 5px 0px 5px ;
}
/*解决IE6下，存在关闭图片时，tab button向下串位*/
.dj_ie6 .unieap .tabContainerBottom-tabs .unieapClosable,
.dj_ie6 .unieap .navigatorContainerTop-tabs .unieapClosable {
	margin-top:3px;
}

.unieap .navigatorContainerTop-tabs .tab .unieapClosable .closeImage,
.unieap .tabContainerBottom-tabs .tab .unieapClosable .closeImage{
	margin-left:5px;
}


.unieap .navigatorInnerDiv{
	padding: 0px 0px 0px 5px;
	line-height: 20px;
}
.unieap .tabContainerLeft-tabs .tabInnerDiv .tabLabel,
.unieap .tabContainerRight-tabs .tabInnerDiv .tabLabel{
	text-align:center;
	writing-mode:tb-rl;
}

.unieap .tabLabel{
	text-align:center;
}

.unieap .navigatorInnerDiv .tabLabel{
	color:#000000;
	line-height:23px;
}

.unieap .tabContainerLeft-tabs .tab .unieapClosable .closeImage,
.unieap .tabContainerRight-tabs .tab .unieapClosable .closeImage {
	display:block;
	margin-left:2px;
}


.unieapHidden {
	display: none !important;
}

.unieapVisible {
	display: block !important;	
}
