/**
 * xhr加载时，loading的基本样式
 */
.unieap .loadingxhr{
	position:absolute;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	z-Index:10001;		
}
.unieap .loadingxhr-alpha{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	filter: alpha(opacity=50);
	opacity:.50;
	overflow:hidden;
}
.unieap .loadingxhr-p{
	position:absolute;
	width:241px;
	height:72px;
	display:block;
	left:50%;
	top:0%;
}
.unieap .loadingxhr-content{
	position:relative;	
	top:0%;
	left:-50%;
	width:160px;
	height:30px;
}
.unieap .loadingxhr-text{
	text-align:left;
	position: absolute;
	display: inline-block;
	padding:8px 0px 10px 25px;
	font-size:12px;
	font-family : tahoma, arial, helvetica, sans-serif;
	color : #333;
	top: 0px;
}
.unieap .loadingxhr-img{
	display: inline-block;
	cursor:wait;
	width: 20px;
	height:30px;	
	margin-left:3px;
}
.unieap .loadingtab-img{
	display: inline-block;
	cursor:wait;
	width: 15px;
	height:15px;	
	margin-left:3px;
}

.unieap .loadingxhr-cancel{
	position:absolute;
	top:4px;
	right:4px;
	width:14px;
	height:14px;
	cursor:pointer;
}
